* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    min-height: fit-content;
    height: 100%;
    padding: 0;
    margin: 0;
}
p {
    font-family: 'Special Elite', cursive;
}
.background {
    min-height: 1800px;
    display: flex;
    flex-direction: column;
    padding: 0 6%;
    align-items: center;
    background: url("../media/images/blackbackground.jpg") fixed;
    background-size: contain;
    color: white;
}
.monster-title {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.monster-name{
    margin: 20px;
    font-size: 3em;
    font-family: 'Comfortaa', cursive;
}
.monster-img{
    margin: 20px;
    max-height: 128px;
    max-width: 128px;
    color: white;
}
.text-block{
    margin: 50px 0;
    padding: 10px 10px 25px;
    width: 100%;
    height: fit-content;
    text-align: center;
    border: 1px dashed white;
    user-select: none;
    background-color: rgba(38, 128, 128, 0.15);
}
.info-title{
    font-size: 2em;
    text-align: center;
}
audio {
    width: 80%;
    min-width: 250px;
    max-width: 700px;
}
video, iframe{
    width: 80%;
    max-width: 900px;
    min-width: 250px;
}
iframe {
    height: 400px;
}
.header{
    font-size: 2.5em;
}
.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.sample{
    margin: 2px;
    max-width: 500px;
    max-height: 500px;
}
